*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-large{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
}

#modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#modal-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container-medium{
  width: 75%;
  max-width: 75%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.user-card{
  width: 50%;
  padding: 1rem;
}

.main-title{
  width: 100%;
  /* background-color: brown; */
  padding: 1rem;
  text-align: center;
  font-size: 42px;
  font-weight: bolder;
  position: relative;
  background: -webkit-linear-gradient(#10182F, #3452ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

/* .bar{
  width: 100px;
  height: 5px;
  background-color: #13c4a1;
  border-radius: 2px;
  position: absolute;
  bottom:10%;
  left: 50%;
  transform: translateX(-50%);
}

.bar-box{
  width: 5px;
  height: 5px;
  background-color: white;
  animation: movebox 1s linear infinite;
} */

/* @keyframes movebox
{
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(100px);
    }
} */

@media(max-width:900px){

  .container-medium{
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .user-card{
    width: 100%;
  }

}
